
<div class="publish-invite" *ngIf="!isPublishing">
  <h2>¿Tienes un producto, servicio o habilidad para ofrecer?</h2>
  <p>Publica y gana eco-puntos intercambiando con la comunidad. ¡Ayuda al planeta y recibe lo que necesitas!</p>
  <button (click)="isPublishing = true">Publicar Producto/Servicio</button>
</div>

<!-- FORMULARIO DE PUBLICACIÓN -->
<div class="publish-form" *ngIf="isPublishing">
  <h2>Publicar Nuevo Producto</h2>
  <input type="text" placeholder="Título" [(ngModel)]="newItem.title">
  <textarea placeholder="Descripción" [(ngModel)]="newItem.description"></textarea>
  <input type="number" placeholder="EcoPuntos" [(ngModel)]="newItem.ecoPoints">
  <input type="text" placeholder="Ubicación" [(ngModel)]="newItem.location">

  <select [(ngModel)]="newItem.category">
    <option value="" disabled selected>Selecciona Categoría</option>
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>

  <select [(ngModel)]="newItem.type">
    <option value="" disabled selected>Selecciona Tipo</option>
    <option value="objeto">Objeto</option>
    <option value="servicio">Servicio</option>
    <option value="tiempo">Tiempo</option>
  </select>

  <button (click)="addItem()">Publicar</button>
  <button (click)="isPublishing = false">Cancelar</button>
</div>
<!-- Loader -->
<div *ngIf="loading" class="loader-container">
  <span class="loader"></span>
</div>

<!-- Skeleton Cards -->
<div *ngIf="loading" class="marketplace-items">
  <div class="item-card skeleton" *ngFor="let s of skeletonArray">
    <div class="skeleton-title"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text short"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text short"></div>
    <div class="skeleton-button"></div>
  </div>
</div>


<!-- LISTADO DE PRODUCTOS -->
<div class="marketplace-items">
  <div *ngFor="let item of items$ | async" class="item-card">
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
    <p>Categoría: {{ item.category }}</p>
    <p>Tipo: {{ item.type }}</p>
    <p>EcoPuntos: {{ item.ecoPoints }}</p>
    <p>Ubicación: {{ item.location }}</p>
    <p>Dueño: {{ item.owner }}</p>

    <button (click)="irAIntercambio(item.id!)">Intercambiar</button>
  </div>
</div>
