.perfil-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f1f8e9;
  border-radius: 16px;
  border: 2px solid #c8e6c9;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2e7d32;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .info {
    display: grid;
    gap: 1rem;
    font-size: 1.05rem;
    color: #444;

    p {
      background: #fff;
      padding: 1rem;
      border-left: 6px solid #81c784;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
      margin: 0;

      strong {
        color: #2e7d32;
        font-weight: 600;
      }
    }
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }
}
.loader {
        width: 84px;
        height: 84px;
        position: relative;
        overflow: hidden;
      }
      .loader:before , .loader:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width:64px;
        height: 64px;
        border-radius: 50%;
        background:#FFF;
        transform: translate(-50% , 100%)  scale(0);
        animation: push 2s infinite ease-in;
      }
      .loader:after {
      animation-delay: 1s;
      }
      @keyframes push {
          0% {
            transform: translate(-50% , 100%)  scale(1);
          }
          15% , 25%{
            transform: translate(-50% , 50%)  scale(1);
          }
        50% , 75% {
            transform: translate(-50%, -30%) scale(0.5);
          }
        80%,  100% {
            transform: translate(-50%, -50%) scale(0);
          }
      }
  


/* Skeleton Styles */
.skeleton {
  background: #f1f8e9;
}

.skeleton-text,
.skeleton-line {
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite;
}

.skeleton-text {
  width: 50%;
  height: 24px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.skeleton-line {
  height: 20px;
  border-radius: 6px;
}

/* Efecto shimmer */
@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
