<header class="header">
  <div class="container">
    <div class="header-content">

      <!-- Navegación escritorio -->
      <nav class="desktop-nav">
        <ul class="nav-list">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/marketplace">Marketplace</a></li>
          <li *ngIf="!loading && userName"><a routerLink="/comunidad">Comunidad</a></li>
          <li *ngIf="!loading && userName"><a routerLink="/comentarios">Comentarios</a></li>
          <li *ngIf="!loading && userName"><a routerLink="/perfil">Mi Perfil</a></li>
        </ul>
      </nav>

      <!-- Sección Usuario -->
      <div class="user-section">
        <ng-container *ngIf="loading">
          <span class="loader"></span> Cargando...
        </ng-container>

        <ng-container *ngIf="!loading && userName; else guestLinks">
          <span class="welcome-text">
            Bienvenido, {{ userName }}
          </span>
          <button (click)="logout()" class="btn btn-logout">Cerrar Sesión</button>
        </ng-container>

        <ng-template #guestLinks>
          <a routerLink="/auth" class="btn btn-login">Iniciar Sesión</a>
        </ng-template>
      </div>

    </div>
  </div>
</header>
